{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Привет, меня зовут Айгуль и это моя страничка на GitHub - https://github.com/AigulParamonova/, в общем велком! 
  Я начала увлекаться программированием два года назад, после статьи о топ профессиях на близжайшие 10 лет, 
  в которой на 1 месте были программисты. На тот момент я скептически отнеслась к такому прогнозу, ведь они только 
  и делают, что ...и тут я крепко задумалась, чем же они действительно занимаются? открыла поисковик Яндекса
  (кто бы мог подумать:)) и с тех самых пор на один ответ, возникает ещё больше вопросов!Но я очень рада что открыла
  для себя целый новый мир, а мемы про программистов наконец стали для меня смешными))  
</p>
{% endblock %} 