{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %} {{ group.title }} {% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include 'includes/author_card.html' %}
    </div>
    <div class="col-md-9">
      {% include "posts/post_item.html" with post=post %}
      {% include 'posts/comments.html' with comments=post.comments.all %}
    </div>
  </div>
</main>
{% endblock %}